table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-overflow: ellipsis;
  padding: 6px;
  width: 100%;
}

table tr > *:nth-child(1) {
  width: 40%;
}
table tr > *:nth-child(2) {
  width: 20%;
}
table tr > *:nth-child(3) {
  width: 40%;
}

@media screen and (max-width: 999px) {
  .fileUrl-td {
    display: none;
  }
}
