.widget-env {
  display: flex;
  flex-direction: column;
}

.widget-option {
  height: 20px;
  width: 20px;
}

.widget-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px 0;
}

.widget-options-copy {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.widget-persist-container {
  width: fit-content;
  position: relative;
  background-color: hsl(210deg, 15%, 10.25%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}

.widget-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.title {
  color: #000;
  text-decoration: none;
}

.title span {
  visibility: hidden;
  font-size: 17px;
}

.title:hover {
  text-decoration: underline;
}

.title:hover span {
  visibility: visible;
}

.mediaCapa-inputs {
  display: inline-flex;
}

.mediaCapa-inputs:last-child {
  border-left: solid 2px #e9eaef;
}

.mediaCapa-inputs > * {
  margin: 0 5px;
}

.mediaCapa-inputs strong {
  text-decoration: underline;
}

.capabilities-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.video-capabilities-container {
  background-color: #e8e9f1;
  padding: 20px;
  width: fit-content;
  margin: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.capabilities-input {
  display: flex;
  flex-direction: column;
}

.capabilities-input input {
  border: none;
  padding: 7px 5px;
  border-radius: 5px;
  margin: 0px 5px 10px 0;
}

.capabilties-grouped {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.result-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  background-color: #e8e9f1;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.result-container button {
  padding: 10px 40px;
  background-color: hsl(210deg, 15%, 10.25%);
  color: white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.result-container button:hover {
  text-decoration: underline;
}

.result-container button:focus {
  outline: none;
  border: none;
}

.result-feedback {
  margin: 10px;
  border-left: solid 3px #ffffff;
  padding: 0 15px;
}

.result-Decodingerror {
  width: 40%;
  padding: 0 15px;
  margin-left: 10px;
  border-left: solid 3px #ffffff;
  font-weight: bold;
  color: rgb(219, 40, 40);
}

.result-onLastOperationTiming {
  border-left: solid 2px hsl(210deg, 15%, 10.25%);
  padding-left: 10px;
}

.result-decode--true {
  font-weight: bold;
  color: rgb(33, 186, 69);
}

.result-decode--false {
  font-weight: bold;
  color: rgb(219, 40, 40);
}

.onWhite {
  box-shadow: rgb(35 38 59 / 5%) 0px 0px 0px 2px,
    rgb(38 43 59 / 20%) 0px 1px 3px 0px;
  border-radius: 3px;
  padding: 5px;
}

.copyBtn {
  background: none;
  border: 0;
  margin: 0;
  cursor: pointer;
}
